{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container card" style="font-family: Sofia, sans-serif; color: white; ">
    <h1 class="border-bottom mb-4" style="color: #3c3163;">Current Profile Info</h1>
    <div class=" box jumbotron container" style="background-color: rgb(2, 2, 2);">

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">

            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
    </div>
    </div>
{% endblock content %}